body {
    background-color: gray;
}

.profile-photo {
    max-height: 325px;
    max-width: 325px;
}

.navbar {
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
}

.name {
    text-align: center;
    color: white;
    /*font-family: "Galada", cursive;*/
    font-weight: 900;
    font-size: 40px;
}

h2 {
    font-family: "Josefin Sans", sans-serif;
}

.width {
    width: 100%;
}


.bgimg {
    background-size: cover;
    background-position: center;

    min-height: 300px;
}

.imgtype0 {
    background-image: url(./Assets/Images/pexels-stock.jpg);
    color: white;
}

.imgtype1 {
    background-image: url(./Assets/Images/game-4664475_640.jpg);
    color: white;
}

.imgtype2 {
    background-image: url(./Assets/Images/sean-benesh-1D9aRAjKtGA-unsplash.jpg);
    color: white;
}

.imgtype3 {
    background-image: url(./Assets/Images/waldemar-brandt-3zml4wkcZis-unsplash.jpg);
    color: white;
}

.imgtype4 {
    background-image: url(./Assets/Images/marcus-wallis-R1qHDAEnCmc-unsplash.jpg);
    color: white;
}

.imgtype5 {
    background-image: url(./Assets/Images/jungwoo-hong-cYUMaCqMYvI-unsplash.jpg);
    color: white;
}

.styletext {
    color: white;
    font-family: "Galada", cursive;
    background-color: black;
    width: 100%;
    font-size: 40px;
}

/*a:link {*/
/*    color: white;*/
/*    background-color: transparent;*/
/*    text-decoration: none;*/
/*}*/
/*a:visited {*/
/*    color: pink;*/
/*    background-color: transparent;*/
/*    text-decoration: none;*/
/*}*/

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
