body, html, main {
  background-color: gray;
}

.profile-photo {
  max-height: 325px;
  max-width: 325px;
}

/* div {
  border: solid 1px;
  min-height: 50px;
}
.row {
  border: solid red;
} */
.navbar {
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
}
.name {
  text-align: center;
  color: white;
  font-family: "Galada", cursive;
  font-weight: 900;
  font-size: 40px;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
}

.width {
  width: 100%;
}


.bgimg {
  background-size: cover;
  background-position: center;

  min-height: 300px;
}

.imgtype0 {
  background-image: url(./Assets/Images/pixabay-325782_640.jpg);
}
.imgtype1 {
  background-image: url(./Assets/Images/game-4664475_640.jpg);
}
.imgtype2 {
  background-image: url(./Assets/Images/sean-benesh-1D9aRAjKtGA-unsplash.jpg);
}
.imgtype3 {
  background-image: url(./Assets/Images/waldemar-brandt-3zml4wkcZis-unsplash.jpg);
}
.imgtype4 {
  background-image: url(./Assets/Images/marcus-wallis-R1qHDAEnCmc-unsplash.jpg);
}
.imgtype5 {
  background-image: url(./Assets/Images/jungwoo-hong-cYUMaCqMYvI-unsplash.jpg);
}

.styletext {
  color: white;
  font-family: "Galada", cursive;
  background-color: gray;
  width: 100%;
  font-size: 40px;
}
